<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519909098010-2dmj6t7shoomv4hda07bbb0mbvr9m9ip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519909098010-2dmj6t7shoomv4hda07bbb0mbvr9m9ip</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>519909098010-qgiop3d1egvp2h7asc85ir0ock2n8bp2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBkb1TkOy3GTE2Eubf2ehHfqs8ad6qnK0</string>
	<key>GCM_SENDER_ID</key>
	<string>519909098010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>games.kinship.lexpedition</string>
	<key>PROJECT_ID</key>
	<string>lexpedition-9c482</string>
	<key>STORAGE_BUCKET</key>
	<string>lexpedition-9c482.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519909098010:ios:cebe3655563819d58647a3</string>
	<key>DATABASE_URL</key>
	<string>https://lexpedition-9c482-default-rtdb.firebaseio.com</string>
</dict>
</plist>